<%-# This is the page for the Admin Dashboard. -%>
<%-# http://localhost:3000/queries/dashboard -%>

<h1>Administrator Dashboard</h1>


<div class="btn btn-primary btn_bottom">
	<%= link_to "Search Directory", 'query_directory', id: 'btn_link' %>
</div>
